@{
    ViewBag.Title = "Index";
}

<h2>About</h2>

<ul class="about">
    //setting the data-url to go to the who ciew on the about controller
    <li data-url="@url.Action("Who", "About")">
        Who?
    </li>
    <li data-url=""@url.Action("Who", About")">
        What?
    </li>
    <li>
        Where?
    </li>
    <li>
        Why?
    </li>
    <li>
        How?
    </li>
</ul>

<div>
    <div id="tabContent">"
    @Html.Partial("who")
</div>
